.App {
    width: 100vw;
    height: 100vh;
}

.paneContent {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.diagramLayer {
    position: relative;
    flex-grow: 1;
}

.srdDemoCanvas {
    height: 100%;
    min-height: 300px;
    background-color: #3c3c3c !important;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
}

.propertiesPanel {
    width: 100%;
    height: 100%;
    background-color: #1d1f21;
    color: white;
}

.propertiesPanel > div {
    display: flex;
    flex-direction: column;
}

.propertiesPanel * {
    color: white !important;
}

.propertiesPanel div::before {
    border-bottom-color: rgba(255, 255, 255, 0.42)
}

.propertiesPanel div::before:hover {
    border-bottom-color: rgba(255, 255, 255, 0.87)
}