.addNodeDialogButtonContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.addNodeDialogButtonContainer > Button {
    margin-right: 24px;
    margin-bottom: 16px;
}

.addNodeDialogBody {
    min-width: 400px;
    padding: 12px 24px;
}

.addNodeDialogBody > div {
    display: flex;
    flex: 1;
    flex-direction: column;
}